*.avi
*.dat*
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.log
*.mkv
*.o
*.pyc
*.txt
*~
.cache
.coverage
.gdb_history
.idea
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/autoregen.sh
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/docs/_build
/frames
/gst-plugins-bad
/gst-plugins-base
/gst-plugins-base
/gst-plugins-good
/gst-switch.sublime-*
/gstreamer
/html
/htmlcov
/install-sh
/libtool
/libvpx
/lint
/ltmain.sh
/missing
/plugins/.deps/
/plugins/.libs/
/plugins/Makefile
/plugins/Makefile.in
/python-api/.cache/
/python-api/htmlcov/
/python-api/imgurbash.sh*
/python-api/reports/
/python-api/*.png
/stamp-h1
/test-switch-srv.out
/tests/gstworker.plist
/tests/test-mix-source
/tests/test-switch-server
/tests/test-switch-server-valgrind.log
/timestamped*
/tools/.deps/
/tools/Makefile
/tools/Makefile.in
/tools/gst-switch-cap
/tools/gst-switch-ptz
/tools/gst-switch-srv
/tools/gst-switch-ui
/tools/gstworker.plist
/transition-strips
imgurbash.sh.*
test-driver
